body {
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 100px;
	background-color: #3679AE; 
	color: white;
	background-repeat: no-repeat;
	background-size: 90% auto;
}


#header {
	display: block;
	margin: 0px 150px 0px 0px;
}

p1 {
	color: #FF6600;
	font-size: 120px;
	font-weight: bold;
	margin-top: 0px;
	margin-left: 110px;
}

#towerimg {
	height: 135px;
	width: 79px;
}

#towerimg2 {
	margin-left: 15px; height : 95px;
	width: 60px;
	height: 95px;
}

#menu {
	background-color: #FF6600;
	display: block;
	text-align: center;
	top: 0;
	left: 0;
	bottom: 0;
	position: fixed;
}

#menuButton {
	display: block;
	padding: 20px;
}

.menuStyle {
	text-decoration: none;
	color: white;
}

#menuButton:hover {
	background-color: rgba(255, 152, 76, 0.9);
}

#menuStyle:hover {
	text-weight: bold;
}

#mainImage {
	width: 100%;
	display: block;
}

#hookEm {
	width: 100%;
	height: 80%;
	margin-right: -15px;
}

div {
	display: block;
	text-align: center;
}

#workouts{
	text-align: center;
	margin-left: 150px;
	margin-right: 80px;
	display: block;
}

.button {
	text-align: center;
	background-color: rgba(255, 152, 76, 0.9);
	padding: 6px;
	width: 170px;
	color: white;
	text-decoration: none;
	border: 2px solid white;
	border-radius: 2px;
}

.button:hover {
	background-color: rgba(135, 132, 135, 0.50);
}

#map-canvas1 {
	height: 80%;
	margin-top: 20px;
	margin-left: 110px;
	margin-right: 30px;
	margin-bottom: 20px padding: 10px 10px 10px;
	display: block;
	color: black;
}

#map-canvas2 {
	height: 80%;
	margin-top: 20px;
	margin-left: 110px;
	margin-right: 30px;
	margin-bottom: 20px padding: 10px 10px 10px;
	display: block;
	color: black;
}

h2 {
	margin-top: 10px;
	font-size: 30px; text-align : center;
	text-weight: bold;
	color: white;
	text-align: center;
}

#subscription {
	display: inline-block;
	margin-top: 500px;
	margin-left: 180px;
}

#signin {
	
}

.back-to-top {
	position: fixed;
	bottom: 1em;
	right: 0px;
	text-decoration: none;
	color: #000000;
	background-color: rgba(235, 235, 235, 0.80);
	font-size: 14px;
	padding: 1em;
}

.back-to-top:hover {
	background-color: rgba(135, 135, 135, 0.50);
}