body{
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	background-image:url("https://www.utexas.edu/sites/default/files/files/DecoTower1280x800.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	font-weight: bold;
	font-size: 180px;
}

#title{
margin-top: -35px;
float: left;
display: block;
margin-bottom: 0px;
}

#smlText{
	margin-top: 0px;
	display: block;
	font-size: 40px;
	padding: 10px;
	margin-bottom: 10px;
}

#text{
	text-align: center;
	float: left;
	width: 784px;
}

div{
	display: block;
}

#bothButtons{
	display: inline-block;
}

#signup{
	padding: 0px 60px 0px;
	display: inline-block;
}

.button{
	
	background-color: rgba(255,255,255,0.33);
	padding: 0 10px;
	width: 150px;
	color: #000000;
	text-decoration: none;
	border: 0;
    border-radius: 2px;
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    display: block;
    font-weight: bold;
}

.button:hover {    
    background-color: rgba(135, 135, 135, 0.50);
}